#add-include-list button {
    /*display: block;*/
    margin: 1em;
}

img {
    display: block;
}

h3 {
    display: inline;
}

body>div {
    background-color: #aaa;
    margin: 1em;
    padding: 1em;
}

#flag-list>span {
    margin: 1em;
}
